button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #000;
}
.off {
  color: #ccc;
}



input[type=radio]{
  display: none;
}

.star{
  cursor:pointer
}
