.button-OpenModalMenuItem{
  background-color:rgb(160,160,160);
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  font-size: 14px;
  font-family: sans-serif;

}
