.update-btn{
  background-color: rgb(160, 160, 160);
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  font-size: 14px;
  font-family: sans-serif;
  height: fit-content;

}
button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}



.city {
  width: 300%;
  display: inline-block;

}

.state {
  width: 300%;
  display: inline-block;

}
.city-state{
  display: flex;
  flex-direction: row;
  gap:20px
}
.state-city-errors{
  display: flex;
  flex-direction: row;
  /* gap:120px */
  justify-content: space-around;
}

.state-city-errors{
  color: red;
}
